* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #222;
}

.card {
    width: 100%;
    max-width: 670px;
    min-width: 350px;
    background: linear-gradient(120deg, #1488cc, #2b32b2);
    color: #fff;
    margin: 50px auto;
    border-radius: 20px;
    padding: 30px 25px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    text-align: center;
    overflow-y: auto;
}


.search button {
    border: 0;
    outline: 0;
    border-radius: 100vmax;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}



.search button img {
    width: 18px;
    padding-top: 8px;
}

.weather {
    display: flex;
}

.weather-icon {
    width: 120px;
    margin-top: 10px;
}

.temp-condition {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.weather h1 {
    font-size: 50px;
    font-weight: 400;
}

.weather-condition {
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
}

.city {
    font-size: 40px;
    font-weight: 300;

}


.col {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 12px;

}

.col img {
    width: 40px;
    margin-right: 10px;
}

p {
    font-size: 15px;
    margin-top: -6px;
    font-weight: 400;
}

.humidity,
.wind {
    font-size: 25px;
    margin-top: -6px;
    font-weight: 200;
    text-align: left;
}

.error {
    font-size: 20px;
    font-weight: 200;
    margin: 10px auto 10px;
    display: none;
}
